{% extends "base.html" %}

{% block content %}
<div class="page">
    <header class="header">
        <div>
            <h1>Страница курьера</h1>
            <p>Список отправлений Ozon</p>
        </div>
        <div class="top-actions">
            {% if user and user.role == "admin" %}
                <a class="btn gray" href="/admin">Админка</a>
            {% endif %}

            <form method="post" action="/logout">
                <button class="btn red" type="submit">Выйти</button>
            </form>
        </div>
    </header>

    <form
        class="filters"
        method="get"
        action="/courier"
        hx-get="/courier/list"
        hx-target="#courier-cards"
        hx-swap="innerHTML"
        hx-trigger="keyup changed delay:300ms from:input[name='search'], change from:select[name='status']"
    >
        <input
            type="text"
            name="search"
            placeholder="Поиск по названию, артикулу, номеру отправления"
            value="{{ search }}"
            autocomplete="off"
        >

        <select name="status">
            <option value="awaiting_packaging" {% if status == "awaiting_packaging" %}selected{% endif %}>
                Ожидает сборки
            </option>
            <option value="awaiting_deliver" {% if status == "awaiting_deliver" %}selected{% endif %}>
                Готово к отгрузке
            </option>
            <option value="all" {% if status == "all" %}selected{% endif %}>
                Все
            </option>
        </select>

        <button type="submit">Показать</button>
    </form>

    <div
        id="courier-cards"
        hx-get="/courier/list"
        hx-include=".filters"
        hx-trigger="every 10s"
        hx-swap="innerHTML"
    >
        {% include "courier/_cards.html" %}
    </div>
    
</div>


{% endblock %}